extends layout

block content
    div(style="height: 23vh")
        div(class="flex-center flex-column")
        h4 About  #[font(color="#E53935") Yumi]
            p(class="animated fadeIn text-muted") Yumi At this point has was created with love, and as a for my myself to begin learning to code in #[a(href="https://nodejs.org/") nodejs] and has been a gateway for me to learn #[a(href="https://docs.microsoft.com/en-us/dotnet/csharp/getting-started/") c#] , #[a(href="https://developers.google.com/edu/c++/") c++], #[a(href="https://docs.microsoft.com/en-us/dotnet/visual-basic/getting-started/") vb.net], and #[a(href="https://www.python.org/") python] along with learning #[a(href="http://sass-lang.com/") CSS3], #[a(href="http://expressjs.com/") Express]. and #[a(href="https://pugjs.org/api/getting-started.html") Pug].
            br
            p(class="animated fadeIn text-muted") #[font(color="#EF9A9A") Yumi] was built upon using #[a(href="https://github.com/Gawdl3y/discord.js-commando") DiscordJS-Commando framework] with having #[a(href="https://nodejs.org/") NodeJS] for the backend.