extends layout

block content
  div(style="height: 100vh")
    h2 About #[font(color="pink") Yumi]
         h5(class="animated fadeIn text-muted") Yumi has been up and down with the features but as of now Yumi has been fitted with a chat logging system for server owners to check a users messages(All user infomation is encrypted with aes 256 bit encyption) Within a set time frame.