extends layout

block discord

block content
    div(style="height: 100vh")
        div(class="flex-center flex-column")
            p Yumi is built upon DiscordJs Commando Framework, Using NodeJS as back-end
                p all commands can be viewed viewed
                a(href="/commands")
                    button(class="btn btn-sm pink") here


