extends layout

block content
  div(style="height: 100vh")
    div(class="flex-center flex-column")
      img(class="img-fluid z-depth-1 rounded-circle fadeInLeft" src="/images/6.png")
      h1(class="animated pulse mb-2") #[font(color="#E91E63") Yumi] Discord Bot
      h5(class="animated fadeIn mb-1") Thank you for visting and maybe reading about my discord bot!
      p(class="animated fadeIn text-muted") Hera Kumi | Inspried by: #[font(color="#D32F2F") Yui], #[font(color="#388E3C") Tatsumaki] #[i(class="fa fa-heart")]
      br
      a(href='https://discordbots.org/bot/373088211037061122')
        img(src='https://discordbots.org/api/widget/373088211037061122.png', alt='Discord Bots')
          
  hr
  div(style="height: 23vh")
    div(class="flex-center flex-column")
      h4 About  #[font(color="#E53935") Yumi]
        p(class="animated fadeIn text-muted") Yumi At this point has was created with love, and as a for my myself to begin learning to code in #[a(href="https://nodejs.org/") nodejs] and has been a gateway for me to learn #[a(href="https://docs.microsoft.com/en-us/dotnet/csharp/getting-started/") c#] , #[a(href="https://developers.google.com/edu/c++/") c++], #[a(href="https://docs.microsoft.com/en-us/dotnet/visual-basic/getting-started/") vb.net], and #[a(href="https://www.python.org/") python] along with learning #[a(href="http://sass-lang.com/") CSS3], #[a(href="http://expressjs.com/") Express]. and #[a(href="https://pugjs.org/api/getting-started.html") Pug].
        br
        p(class="animated fadeIn text-muted") #[font(color="#EF9A9A") Yumi] was built upon using #[a(href="https://github.com/Gawdl3y/discord.js-commando") DiscordJS-Commando framework] with having #[a(href="https://nodejs.org/") NodeJS] for the backend.
        button.btn.btn-outline-secondary.waves-effect(href="/commands", type='button') Commands


        
