extends layout

block content
  div(style="height: 100vh")
    div(class="flex-center flex-column")
      img(class="img-fluid z-depth-1 rounded-circle fadeInLeft" src="/images/6.png")
  div(id="good")
    h1(class="animated pulse mb-2") #[font(color="#E91E63") Yumi] Discord Bot
      h5(class="animated fadeIn mb-1") Thank you for visting and maybe reading about my discord bot!
      p(class="animated fadeIn text-muted") Hera Kumi | Inspried by: #[font(color="#D32F2F") Yui], #[font(color="#388E3C") Tatsumaki] #[i(class="fa fa-heart")]
          
  hr
  div(id="okay")
      a(href='https://discordbots.org/bot/373088211037061122')
        img(src='https://discordbots.org/api/widget/373088211037061122.png', alt='Discord Bots')
      br
      span.badge.black
        a(href="https://gitlab.com/HeraKumi")
          i.fa.fa-gitlab.fa-2x(aria-hidden='true')
      span.badge.blue
        a(href="https://paypal.me/TMN")
          i.fa.fa-paypal.fa-2x(aria-hidden='true')




        
