doctype html
html(lang="en")
  head
    title= title
    
    meta(charset="utf-8")
    meta(name="description" content="A website made with minimal effort to get started.")
    meta(name="keywords" content="discord, love, english, weeb, anime, hero, overlord, game, noschool, schoolshooting, bombs, lol , read, the, keywords, lol, jokes")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    link(rel="stylesheet", href="/stylesheets/bootstrap-material-design.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/mdb.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    link(rel="apple-touch-icon" sizes="180x180" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    link(rel="icon" type="image/png" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png" sizes="32x32")
    link(rel="icon" type="image/png" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png" sizes="16x16")
    link(rel="manifest" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    link(rel="mask-icon" href="hhttps://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png" color="#5bbad5")
    link(rel="shortcut icon" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    
    meta(property="og:url" content="http://bot.yumiboat.cf")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Yuumi.gq | A Discord Bot Worth Protecting.")
    meta(property="og:description" content="A website made with minimal effort to get started.")
    meta(property="og:image" content="http://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    meta(property="og:image:secure_url" content="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Yuumi.gq | A Discord Bot Worth Protecting.")
    meta(name="twitter:description" content="A website made with minimal effort to get started.")
    meta(name="twitter:image" content="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    meta(name="twitter:image:src" content="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    
    nav.navbar.navbar-dark.justify-content-between
      a(href="/")
        button.btn.btn-outline-danger.waves-effect(type='button') Home
      form.form-inline
        a(href="/about")
          button.btn.btn-outline-info.waves-effect(type='button') About
        a(href="/commands")
            button.btn.btn-outline-primary.waves-effect(type='button') Commands
        a(href="/stats")
            button.btn.btn-outline-success.waves-effect(type='button') Stats

  body(style="background-color:#FAFAFA")
    center
      block content
    
    block discord
    block div


  footer
    block footer
        script(type="text/javascript" src="/javascripts/jquery-3.2.1.js")
        script(type="text/javascript" src="/javascripts/popper.js")
        script(type="text/javascript" src="/javascripts/mdb.js")
        script(type="text/javascript" src="/javascripts/bootstrap.js")
        script(type="text/javascript" src="/javascripts/bootstrap-material-design.js")        
                