doctype html
html(lang="en")
  head
    title= title
    
    meta(charset="utf-8")
    meta(name="description" content="A website made with minimal effort to get started.")
    meta(name="keywords" content="discord, love, english, weeb, anime, hero, overlord, game, noschool, schoolshooting, bombs, lol , read, the, keywords, lol, jokes")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/mdb.min.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")

    link(rel="apple-touch-icon" sizes="180x180" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    link(rel="icon" type="image/png" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png" sizes="32x32")
    link(rel="icon" type="image/png" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png" sizes="16x16")
    link(rel="manifest" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    link(rel="mask-icon" href="hhttps://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png" color="#5bbad5")
    link(rel="shortcut icon" href="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    
    meta(property="og:url" content="http://yuumi.gq")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Yuumi.gq | A Discord Bot Worth Protecting.")
    meta(property="og:description" content="A website made with minimal effort to get started.")
    meta(property="og:image" content="http://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    meta(property="og:image:secure_url" content="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Yuumi.gq | A Discord Bot Worth Protecting.")
    meta(name="twitter:description" content="A website made with minimal effort to get started.")
    meta(name="twitter:image" content="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
    meta(name="twitter:image:src" content="https://orig00.deviantart.net/7523/f/2014/057/6/0/umbreon_espeon_couple___render_by_xpuderzucker-d7824zb.png")
        
  body
    center
      block content
    
    block discord
    block div


  footer
    block footer
        script(type="text/javascript" src="/javascripts/jquery-3.2.1.min.js")
        script(type="text/javascript" src="/javascripts/popper.min.js")
        script(type="text/javascript" src="/javascripts/bootstrap.min.js")
        script(type="text/javascript" src="/javascripts/mdb.min.js")
        script(src="/javascripts/anime.js")

    footer(class="page-footer pink center-on-small-only pt-0")
       div(class="container")
           div(class="row")
               div(class="col-md-12")
                div(class="footer-socials mb-5 flex-center")
                  
                  a(href="https://twitter.com/_H3ra", class="icons-sm tw-ic")
                    i(class="fa fa-twitter fa-lg white-text mr-md-4")

                  a(href="https://www.instagram.com/hyestai/", class="icons-sm ins-ic")
                    i(class="fa fa-instagram fa-lg white-text mr-md-4")

       div(class="footer-copyright")
           div(class="container-fluid")
               p © 2016 Copyright:
                a(href="http://yuumi.gq") Yuumi.gq
                